.App {
  height: 400px !important;
  border: 5px solid green;
  width: 300px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0.3, 0.3, 0.3, 0.3);
}
.overlay__body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 100%;
  width: 100%;
}
.dialog {
  min-width: 200px;
  max-width: 100%;
  background: #fff;
  border: 1px solid #aaa;
  box-shadow: 3px 3px 3px #000;
}
.dialog__header {
  border-bottom: 1px solid #aaa;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.dialog__body {
  display: flex;
  min-height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 8px 20px;
  border-radius: 5px;
  background: #8b8989;
  color: #fff;
  box-shaodow: none;
}
.btn:hover {
  cursor: pointer;
  background: #adacac;
}
.btn-primary {
  background: #3f6826;
  color: #fff;
}
.btn-primary:hover {
  background: #72bb45;
}
